body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(10px, 4vw, 32px);
    font-family: Arial; 

    

}
.div {
    background-color: hsl(0, 0%, 100%);
    margin: 50px auto;
    border-radius: 15px;
    display: inline-block;
    height: 500px;
    width: 310px;
    text-align: center;   
}
.img {
    width: 280px;
    height: 280px;
    display: block;
    margin: 15px auto;
    border-radius: 10px;
}
.h3-style {
    display: inline-block;
    font-weight: bold;
    margin: 14px;
    font-weight: bolder;
    font-size: 1.3rem;
}

p {
    color: hsl(220, 1%, 54%);
    font-size: 1rem;
    margin: 5px 1.5rem;
    line-height: 1.2;
}

@media only screen and (max-width: 600px) {
    .div {
        height: 400px;
        width: 280px;
    }
    .img {
        width: 250px;
        height: 225px;
        display: block;
        margin: 15px auto;
        border-radius: 10px;
    }
    .h3-style {
        display: inline-block;
        font-weight: bold;
        margin: 10px;
        font-weight: bolder;
        font-size: 1.1rem;
    }
    
    p {
        color: hsl(220, 1%, 54%);
        font-size: 0.9rem;
        margin: 1rem 1.5rem;
        line-height: 1.1;
    }
}
